{{ define "main" }}
  {{ partial "page-header" . }}
  <section class="section-sm">
    <div class="container text-center">
      <p>{{ .Params.intro | markdownify }}</p>
      <div class="grid grid-rows-4 grid-cols-2 grid-rows-3 md:grid-cols-4 lg:grid-cols-5 gap-4 mt-10">
        {{ with .Params.showsdir }}
          {{ $imagesDirectory := . }}
          {{ $path := printf "/assets/images/%s" $imagesDirectory }}
          {{ range $i, $e := readDir $path }}
            {{ $fullPath := printf "/images/%s/%s" $imagesDirectory .Name }}
            {{ $dialogId := printf "dialog%d" $i }}
            <!-- Dialog with bigger photo -->
            <dialog class="w-160 rounded-xl" id="{{$dialogId}}">
              <form class="static" method="dialog">
                {{ partial "image" (dict "Src" $fullPath "Class" "w-full") }}
                <button class="w-16 h-16 absolute top-0 right-0 m-4 btn btn-primary rounded-full">
                  <i class="fa-solid fa-xmark fa-2xl"></i>
                </button>
              </form>
            </dialog>
            <!-- Poster -->
            <button onclick="{{ safeJS (printf "%s.showModal()" $dialogId) }}">
              {{ partial "image" (dict "Src" $fullPath) }}
            </button>
            <!-- /Poster -->
            <!-- /Dialog with bigger photo -->
          {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
