{{ define "main" }}
{{ partial "page-header" . }}
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="md:col-10 lg:col-7 text-center">
          <div class="flex flex-wrap items-center max-w-xl">
          {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "mx-auto mb-6 rounded-xl" "Size" "200x200") }}
            <div class="ml-4">
            <!-- CV link -->
              {{ with .Params.resumelink }}
              <div class="text-left h-10 pb-2">
                <div class="inline-flex items-center justify-center text-center bg-primary dark:bg-darkmode-primary dark:text-dark rounded text-white h-8 w-8 m-2">
                  <i class="fa {{ .icon }}"></i>
                </div>
                <a class="link" href="{{ .url | absURL }}">
                  {{ .name }}
                </a>
              </div>
              {{ end }}
            <!-- /CV link -->

            <!-- Other links -->
              {{ range .Params.links }}
              <div class="text-left h-10 pb-2">
                <div class="inline-flex items-center justify-center text-center bg-primary dark:bg-darkmode-primary dark:text-dark rounded text-white h-8 w-8 m-2">
                  <i class="fa {{ .icon }}"></i>
                </div>
                <a class="link" href="{{ .url }}">
                  {{ .name }}
                </a>
              </div>
              {{ end }}
            <!-- /Other links -->
            </div>
          </div>
          <div class="content">{{ .Content }}</div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
