{{ define "main" }}
<!-- Banner -->
{{ with .Params.banner }}
<section class="section pt-14">
  <div class="container">
    <div class="row">
      <div class="md:col-2"></div>
      <div class="md:col-4 mb-8">
        <h1 class="mb-4">
          {{ .title | markdownify }}
        </h1>
        <p class="mb-8">
          {{ .content | markdownify }}
        </p>
        {{ with .button }}
        {{ if .enable }}
        <a class="btn btn-primary rounded-full" href="{{ .link | absURL }}">
          {{ .label }}
          <i class="fa fa-arrow-right pl-2"></i>
        </a>
        {{ end }}
        {{ end }}
      </div>
      <div class="col-12 md:col-4">
        {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class"
        "mx-auto !max-w-[320px]" ) }}
      </div>
      <div class="md:col-2"></div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Banner -->

<!-- Services -->
{{ range $i, $e:= .Params.services }}
<section class="section-sm {{ if (modBool $i 2) }}bg-gradient{{ end }}">
  <div class="container">
    <div class="">
      <div
        class="">
        <h2 class="mb-4">
          {{ .title | markdownify }}
        </h2>
        <p class="mb-8 text-lg">
          {{ .content | markdownify }}
        </p>

        <!-- Bulletsection -->
        <div class="row justify-center">
        {{ range $b := .bulletsection }}
        <div class="md:col-5 lg:col-4">
          <div class="flex justify-center">
            <div class="w-[100px] h-[90px] m-6">
              {{ $svg := printf "assets%s" .image }}
              {{ readFile $svg | htmlUnescape | safeHTML }}
            </div>
          </div>
          <h3 class="text-center pb-8">{{ .title | markdownify }}</h3>
          <ul>
            {{ range $bp := .bulletpoints }}
            <li class="relative mb-4 pl-6">
              <i class="fa fa-check absolute left-0 top-1.5"></i>
              {{ . | markdownify }}
            </li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
        </div>
        <!-- /Bulletsection -->


        {{ with .button }}
        {{ if .enable }}
        <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
          {{ .label }}
          <i class="fa fa-arrow-right pl-2"></i>
        </a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Services -->

<!-- Contact -->
<section>
  <div class="container">
    <h2>{Contact}</h2>
    <p class="text-lg">{You can find me in these places}</p>
    <ul>
      {{ range site.Data.social.main }}
      <li>
        <a class="m-2 bg-primary dark:bg-darkmode-primary dark:text-dark flex h-9 w-9 items-center justify-center rounded text-center leading-9 text-white"
          target="_blank"
          aria-label="{{ .name }}"
          rel="nofollow noopener"
          href="{{ .link | safeURL }}">
          <i class="{{ .icon }}"></i>
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</section>
<!-- /Contact -->
{{ end }}
