{{ define "main" }}
<!-- Banner -->
{{ with .Params.banner }}
<section class="section pt-14">
  <div class="container">
    <div class="row">
      <div class="md:col-2"></div>
      <div class="md:col-4 mb-8">
        <h1 class="inflatableFont">
          {{ .title | markdownify }}
        </h1>
        <p class="mb-4 customFontBold text-xl">
          {{ .subtitle | markdownify }}
        </p>
        <p class="mb-8">
          {{ .content | markdownify }}
        </p>
        {{ with .button }}
        {{ if .enable }}
        <a class="btn btn-primary rounded-full" href="#contact">
          {{ .label }}
          <i class="fa fa-arrow-right pl-2"></i>
        </a>
        {{ end }}
        {{ end }}
      </div>
      <div class="col-12 md:col-4">
        {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class"
        "mx-auto !max-w-[320px]" ) }}
      </div>
      <div class="md:col-2"></div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Banner -->

<!-- Services -->
{{ range $i, $e := .Params.services }}
<section id="services" class="section-sm {{ if (modBool $i 2) }}bg-gradient{{ end }}">
  <div class="container">
    <div class="">
      <div
        class="">
        <h2 class="mb-4">
          {{ .title | markdownify }}
        </h2>
        <p class="mb-8 text-lg">
          {{ .content | markdownify }}
        </p>

        <!-- Bulletsection -->
        <div class="row justify-center">
          {{ range $b := .bulletsection }}
          <div class="md:col-5 lg:col-4">
            <div class="flex justify-center">
              <div class="w-[100px] h-[90px] m-5">
                {{ $svg := printf "assets%s" .image }}
                {{ readFile $svg | htmlUnescape | safeHTML }}
              </div>
            </div>
            <h3 class="text-center pb-8">{{ .title | markdownify }}</h3>
            <ul>
              {{ range $bp := .bulletpoints }}
              <li class="relative mb-4 pl-6">
                <i class="fa fa-check absolute left-0 top-1.5"></i>
                {{ . | markdownify }}
              {{ end }}
              <!-- Optional dialog -->
              {{ if (isset . "dialog_content") }}
                <button
                  class="underline underline-offset-8 hover:text-cyan-500"
                  onclick="dialog.showModal()">
                  {{ .dialog_button }}
                </button>
                <dialog class="p-8 w-96 rounded-xl" id="dialog">
                  <form method="dialog">
                    <p class="font-bold pb-2">{{ .dialog_title }}</p>
                    <p>{{ .dialog_content | markdownify }}</p>
                    <button class="my-4 btn btn-primary rounded-full">OK</button>
                  </form>
                </dialog>
              {{ end }}
              <!-- /Optional dialog -->

              </li>
            </ul>
          </div>
          {{ end }}
        </div>
        <!-- /Bulletsection -->


        {{ with .button }}
        {{ if .enable }}
        <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
          {{ .label }}
          <i class="fa fa-arrow-right pl-2"></i>
        </a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Services -->

<!-- Contact -->
<section id="contact" class="section-sm">
  <div class="container">
    {{ $contact := .Params.contact }}
    {{ with $contact }}
      <h2 class="mb-4">
        {{ .title }}
      </h2>
      <p class="text-lg mb-4">
        {{ .subtitle }}
      </p>
      <p>
        {{ .text | markdownify }}
      </p>
    {{ end }}
    <ul class="grid grid-flow-row auto-rows-max my-4 md:grid-cols-4">
      {{ range site.Data.social.main }}
        <li class="px-8 col-span-4 md:col-span-2">
          <a class="flex items-center text-xl hover:text-cyan-500"
            target="_blank"
            aria-label="{{ .name }}"
            rel="nofollow noopener"
            href="{{ .link | safeURL }}">
            <div
              class="m-2 bg-primary dark:bg-darkmode-primary dark:text-dark flex h-12 w-12 items-center justify-center rounded-full text-center leading-9 text-white">
              <i class="{{ .icon }}"></i>
            </div>
          <p class="pl-2 underline underline-offset-8">{{ .name | strings.FirstUpper }} - {{ .username }}</p>
          </a>
        </li>
        <!-- Email link -->
        {{ if  eq .name "email"}}
          <p class="col-span-4 my-4">
            {{ $contact.bottomtext | markdownify }}
          </p>
        {{ end }}
        <!-- /Email link -->
      {{ end }}
    </ul>
  </div>
</section>
<!-- /Contact -->
{{ end }}
