{{ define "main" }}
<!-- Banner -->
{{ with .Params.banner }}
<section class="section pt-14">
  <div class="container">
    <div class="row">
      <div class="md:col-2"></div>
      <div class="md:col-4 mb-8 mt-10">
        <h1 class="inflatableFont">
          {{ .title | markdownify }}
        </h1>
        <p class="mb-4 customFontBold text-xl">
          {{ .subtitle | markdownify }}
        </p>
        <p class="mb-8">
          {{ .content | markdownify }}
        </p>
        {{ with .button }}
        {{ if .enable }}
        <a class="btn btn-primary rounded-full hover:scale-105" href="#contact">
          {{ .label }}
          <i class="fa fa-arrow-right pl-2"></i>
        </a>
        {{ end }}
        {{ end }}
      </div>
      <div class="col-12 md:col-4">
        <div class="md:relative">
        {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class"
        "mx-auto !max-w-[320px] hidden md:block absolute md:opacity-100 md:hover:opacity-0 transition-opacity duration-1000" ) }}
        {{ partial "image" (dict "Src" .second_image "Alt" "Banner image" "Loading" "eager" "Class"
        "mx-auto !max-w-[320px] block md:absolute md:opacity-0 md:hover:opacity-100 transition-opacity duration-1000") }}
        </div>
      </div>
      <div class="md:col-2"></div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Banner -->

<!-- Services -->
{{ range $i, $e := .Params.services }}
<section id="services" class="section-sm {{ if (modBool $i 2) }}bg-gradient{{ end }}">
  <div class="container">
    <div class="">
      <div
        class="">
        <h2 class="mb-4">
          {{ .title | markdownify }}
        </h2>
        <p class="mb-8 text-lg">
          {{ .content | markdownify }}
        </p>

        <!-- Bulletsection -->
        <div class="row justify-center">
          {{ range $b := .bulletsection }}
          <div class="md:col-5 lg:col-4">
            <div class="flex justify-center">
              <div class="w-[100px] h-[90px] m-5">
                {{ $svg := printf "assets%s" .image }}
                {{ readFile $svg | htmlUnescape | safeHTML }}
              </div>
            </div>
            <h3 class="text-center pb-8">{{ .title | markdownify }}</h3>
            <ul>
              {{ range $bp := .bulletpoints }}
              <li class="relative mb-4 pl-6">
                <i class="fa fa-check absolute left-0 top-1.5"></i>
                {{ . | markdownify }}
              {{ end }}
              <!-- Optional dialog -->
              {{ if (isset . "dialog_content") }}
                <button
                  class="underline underline-offset-8 hover:text-cyan-500"
                  onclick="dialog.showModal()">
                  {{ .dialog_button }}
                </button>
                <dialog
                  class="p-8 w-96 rounded-xl bg-theme-light dark:bg-darkmode-theme-light dark:text-slate-200"
                  id="dialog"
                  onclick="dialog.close()">
                  <form method="dialog">
                    <p class="font-bold pb-2">{{ .dialog_title }}</p>
                    <p>{{ .dialog_content | markdownify }}</p>
                    <button class="my-4 btn btn-primary rounded-full">OK</button>
                  </form>
                </dialog>
              {{ end }}
              <!-- /Optional dialog -->

              </li>
            </ul>
          </div>
          {{ end }}
        </div>
        <!-- /Bulletsection -->


        {{ with .button }}
        {{ if .enable }}
        <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
          {{ .label }}
          <i class="fa fa-arrow-right pl-2"></i>
        </a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Services -->

<!-- Contact -->
<section id="contact" class="section-sm">
  <div class="container">
    {{ $contact := .Params.contact }}
    {{ with $contact }}
      <h2 class="mb-4">
        {{ .title }}
      </h2>
      <p class="text-lg mb-4">
        {{ .subtitle }}
      </p>
      <p>
        {{ .text | markdownify }}
      </p>
    {{ end }}

    <!-- Contact form -->
    {{ with .Params.contact_form }}
    <div class="md:col-10 lg:col-6 mx-auto my-8">
      <form action="{{ site.Params.contact_form_action }}" method="POST" netlify netlify-honeypot="bot-field" data-netlify-recaptcha="true">
        <p class="hidden">
          <label>
            Don’t fill this out if you’re human: <input name="bot-field" />
          </label>
        </p>
        <div class="mb-6">
          <label for="name" class="form-label">
            {{ .name.label }} <span class="text-red-500">*</span>
          </label>
          <input
            id="name"
            name="name"
            class="form-input"
            placeholder="{{ .name.placeholder }}"
            type="text" />
        </div>
        <div class="mb-6">
          <label for="email" class="form-label">
            {{ .email.label }} <span class="text-red-500">*</span>
          </label>
          <input
            id="email"
            name="email"
            class="form-input"
            placeholder="{{ .email.placeholder }}"
            type="email" />
        </div>
        <div class="mb-6">
          <label for="message" class="form-label">
            {{ .body.label }} <span class="text-red-500">*</span>
          </label>
          <textarea
            id="message"
            name="message"
            class="form-input"
            placeholder="{{ .body.placeholder }}"
            rows="8"></textarea>
        </div>
        <div data-netlify-recaptcha="true" class="py-4"></div>
        <button type="submit" class="btn btn-primary rounded-full">{{ .button}}</button>
      </form>
    </div>
    {{ end }}
    <!-- /Contact form -->

    <ul class="grid grid-flow-row auto-rows-max my-4 md:grid-cols-4">
      <p class="col-span-4 my-4">
        {{ $contact.bottomtext | markdownify }}
      </p>
      {{ range site.Data.social.main }}
        <li class="px-8 col-span-4 md:col-span-2">
          <a class="flex items-center text-xl hover:text-cyan-500"
            target="_blank"
            aria-label="{{ .name }}"
            rel="nofollow noopener"
            href="{{ .link | safeURL }}">
            <div
              class="m-2 bg-primary dark:bg-darkmode-primary dark:text-dark flex h-12 w-12 items-center justify-center rounded-full text-center leading-9 text-white">
              <i class="{{ .icon }}"></i>
            </div>
          <p class="pl-2 underline underline-offset-8">{{ .name | strings.FirstUpper }} - {{ .username }}</p>
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
</section>
<!-- /Contact -->
{{ end }}
